<div class="question" [formGroup]="form" [ngSwitch]="question.controlType">
  
  <br />

  <label [attr.for]="question.id">{{ question.label }}</label>

  <input class="control" [id]="question.id" [type]="question.type"
         *ngSwitchCase="'text-input'" [formControlName]="question.id">

  <br />

  <select class="control" [id]="question.id"
          *ngSwitchCase="'select'" [formControlName]="question.id">
    <option [value]="answer.value" *ngFor="let answer of question.options">
      {{ answer.label }}
    </option>
  </select>

  <br />

  <textarea class="control" [id]="question.id"
            *ngSwitchCase="'textarea'" [formControlName]="question.id"></textarea>

  <br />

  <div class="radio-group" *ngSwitchCase="'radio'">
    <span class="radio" *ngFor="let answer of question.options">
      <input type="radio" [id]="question.id + answer.value" [value]="answer.value"
             [formControlName]="question.id">
      <label [attr.for]="question.id + answer.value">{{ answer.label }}</label>
    </span>
  </div>
  <br />

  <input *ngSwitchCase="'range'" [id]="question.id" [type]="question.type" [formControlName]="question.id" id="points" min="0" max="100">

  <br />

  <audio controls class="control" *ngSwitchCase="'audio'" [formControlName]="question.id" ngDefaultControl>
    <source src="app/audio/blues_guitar.wav" type="audio/ogg">
    <source src="app/audio/blues_guitar.wav" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>


  <div class="error" *ngIf="!isValid">
    This question is required!
  </div>
</div>